

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

@font-face {
    font-family: DroidSans;
    src: url('fonts/droid-sans/DroidSans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: DroidSans;
    src: url('fonts/droid-sans/DroidSans-Bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


